*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #222;
    color: whitesmoke;
}

#canvas{
    border: 1px solid whitesmoke;
    background-color: #444;
}

#particles{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 1rem;
    width: 80%;
    flex-wrap: wrap;
    justify-content: end;
}

#templates{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 1rem;
}

.btn {
    padding: .2rem .5rem;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
}

.active-bottom {
    outline: 3px solid whitesmoke;
    position: relative;
}

.active-bottom::after {
    content: "";
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 100%;
    background-color: whitesmoke;
    opacity: .5;
}

.active-top {
    outline: 3px solid whitesmoke;
    position: relative;
}

.active-top::after {
    content: "";
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 100%;
    background-color: whitesmoke;
    opacity: .5;
}

.sand {
    background-color: rgb(243, 210, 138);
    color: black;
}

.water {
    background-color: rgb(19, 23, 255);
    color: white;
}

.crystal {
    background-color: rgb(57, 126, 255);
    color: black;
}

.grass {
    background-color: rgb(0, 165, 0);
    color: white;
}

.plant {
    background-color: rgb(114, 36, 0);
    color: white;
}

.fire {
    background-color: rgb(212, 0, 0);
    color: white;
}

.hsl {
    background: linear-gradient(90deg, red, yellow, green, blue);
    color: black;
}